<div class="spacer-50"></div>
<h1>Librettist</h1>

<div class="col-xs-12 col-sm-6">
	<%= simple_form_for :translator, url: translate_path, remote: true do |f| %>
		<%= f.input :libretto, as: :text %>
		<%= f.button :submit, "Translate", :id => 'translate_btn' %>
	<% end %>
</div>

<div class="col-xs-12 col-sm-6">
	<div id = 'textOutput'>
		<%= @output if @output.present? %>
	</div>
</div>

<script>

$(document).ready(function() {

			
		
})
</script>